
//- projector view
#display

  //- navigation ( available from remote as well )
  .controller
    .id {{ game.data.id | game_id }}
    .controls( ng-show='section' )
      .close( ng-click='close()' ) Close
      .previous( ng-click='previous()' ) Previous
      .next( ng-click='next()' ) Next


  //- the area being explored
  .section( ng-show='section' )

    //- show the person who got it right
    dl.answered( ng-show='answered' )
      dt
        img( ng-src='http://www.gravatar.com/avatar/{{ answered.avatar }}.jpg?size=100' )
      dd
        h3 {{ answered.name }}
        h5 {{ section.value }}
        p first correct answer

    //- shows general slide content
    .slide( ng-show='slide' )
      .content( markdown='slide' )

    //- displays the question being asked
    .question( ng-show='question' )
      .content
        h1 {{ question.title }}

        .hint( ng-show='question.hint' markdown='question.hint' )

        //- multiple choice
        ul( ng-show='question.choices' )
          dl( ng-repeat='choice in question.choices' )
            dt {{ $index | option_letter }}
            dd {{ choice }}


  //- game board ( titles and tiers )
  ul.board( class='columns-{{ game.data.categories.length }}' )

    //- show each category
    li.column( ng-repeat='category in game.data.categories' )
      ul.rows( class='rows-{{ category.sections.length }}' )

        //- the category name
        li.block.title
          .label {{ category.title }}

        //- and each currency section
        li.block.tier( ng-repeat='section in category.sections'
                  ng-click='select( section )'
                  ng-class='{ done: section.done }' )
          .label {{ section.value }}

