
//- handles getting a user connected

ul#login.view( ng-switch='view.at' )
  li( ng-show='error' )
    .error {{ error | error_message }}

  //- creating a new game
  li( ng-switch-when='create' )

    ul.form
      li
        dl
          dt Password
          dd
            input( type='password' ng-model='$parent.password' )

      li
        dl
          dt Game
          dd
            select( type='password' ng-model='$parent.type' )
              option( value='css' ) CSS Jeopardy


      li.submit( ng-click='create()' ) Create


  //- already part of a game
  li( ng-switch-when='rejoin' )
    .error You're already logged in to {{ rejoin.title }}
    ul.form
      li.submit( ng-click='resume()' ) Rejoin
      li.submit( ng-click='leave()' ) Leave


  //- default login form
  li( ng-switch-default )

    ul.form
      li
        dl
          dt Name
          dd
            input( type='text' ng-model='$parent.name' placeholder='Fred Smith' )
      li
        dl
          dt Email
          dd
            input( type='text' ng-model='$parent.email' placeholder='Optional' )

      li( ng-hide='true' )
        dl
          dt Session
          dd
            input( type='text' ng-model='$parent.session' placeholder='999-999-999' )

      li.submit( ng-click='join()' ) Join Session

    a.create( ng-click='view("create")' ) Create game
